<!DOCTYPE html>
<html>
<head>
    <title>Photo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Photo</h1>
    <p>Photos shot by Konstantin Koetzner.</p>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/info">Index with Info</a></li>
        </ul>
    </nav>
    <h2>Index</h2>
    {{range .}}
    <a href="/photo/{{.FileName}}">{{.Number}}</a>
    {{end}}
</body>
</html>