<!DOCTYPE html>
<html>
<head>
    <title>Photo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Photo</h1>
    <h2>Index</h2>
    <a href="/info">Info</a>
    <a href="/photo/0001.jpg">1</a>
</body>
</html>